*{
    margin:0;
    padding:0;
    text-decoration: none;
}
#ur{
    height: 30px;
    width: 30px;
    margin-top: 8px;
}
.css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar{
height: 30px;
width: 30px;
margin-top: 9px;
}
#caa{
    margin-right: 166px;
    }